<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <%= link_to image_tag("user.png") %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>